html {
    box-sizing: border-box;
    
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* color themes */
:root {
    --link-color: #2196F3;
    --text-color: #212121;
    --studio-nav-color: #000000;
    --text-main-color: #757575;
    --background-color: #FFFFFF;
    --link-footer-color: rgba(255, 255, 255, 0.6);
    --footer-portfolio-color: #2F303A;
    --about-backgraund-color: #F5F5F5;
    --backgraund-team-color: #F5F4FA;
    --projet-border-color: #EEEEEE;
    --box-shadow: rgba(0, 0, 0, 0.12);
    --main-button-color: #188CE8;
    --box-shadow-main-button: rgba(0, 0, 0, 0.12);
    --border-bottom-color: #ECECEC;
    --backgraund-social-color: rgba(255, 255, 255, 0.1);
    --actions-team-color: #AFB1B8;
    --social-actions-color: #2F303A;
    --product-actions-color: rgba(33, 150, 243, 0.9);
    --label-bg-collor:rgba(47, 48, 58, 0.8);
}


/* встановлюэмо фон і шрифт */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
        }

        /* Утиліти */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

                .container ul{
                    list-style: none;
                }

textarea {
    resize: none;
}

.list {
    display: flex;
    align-items: baseline;
    padding: 0;
    margin: 0;
}

.work-title,
.team-title,
.customers-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 50;
    margin-top: 0;
}

/* Main-Nav */
.main-nav {
    display: flex;
    align-items: center;
    
}

.nav {
    display: flex;
    align-items: center;
}
/* Nav */

.site-nav {
    display: flex;
    margin-left: 93px;
    
}

.site-nav .item:not(:last-child)
{
    margin-right: 50px
}

.site-nav a{
    display: block;

    font-weight: 500;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-decoration: none;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--link-color);
}

.site-nav .underline.current {
    color: var(--link-color);
    position: relative;
        }

.link-contact {
    display: flex;
    margin-left: auto;
}

/* Робимо лівий margin для всіх елементів окрім першого */
.link-contact .contact-item + .contact-item {
    margin-left: 50px;
}

.underline {
    display: block;
      }

.underline.current::after {

        display: inline-block;
        position: absolute;
        content: "";
        left: 0px;
        bottom: 0px;
    
        width: 100%;
        height: 4px;
    
        border-radius: 2px;
        background-color: var(--link-color);
}

.contact {
    display: flex;
    align-items: center;
    color: var(--text-main-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.contact-item {
    display: inline-flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }

.icon-nav-1,
.icon-nav-2 {   
    fill: currentColor;
    margin-right: 10px;
}

.contact:hover,
.contact:focus {
    color: var(--link-color);
}

.header {
       /* header line  */
           border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-bottom-color);
   }

.nav-logo {    
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.web {
    color: var(--link-color);
}

.studio {
    color: var(--background-color);
}

.studio-nav {
    color: var(--studio-nav-color);
}

.item a {
    padding-top: 34px;
    padding-bottom: 30px;
}

/* hero */

.hero {  
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    
    height: 600px;
    max-width: 1600px;
    text-align: center;
    background-repeat: no-repeat;
    background-color: var(--footer-portfolio-color);
    background-position: center;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/herobackgraund.jpg");
        
}

.hero-title {
        margin-bottom: 30px;
        margin-top: 0;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;
        letter-spacing: 0.06em;
        text-transform: uppercase;    
        color: var(--background-color);
        
}

.hero-button {
    padding: 10px 32px;
   
        
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
        background-color: var(--link-color);
    box-shadow: 0px 4px 4px var(--box-shadow-main-button);
    border: none;
    border-radius: 4px;
    color: var(--background-color);
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    }

.hero-button:hover,
.hero-button:focus {
    background-color: var(--main-button-color);
    box-shadow: 0px 4px 4px var(--box-shadow-main-button);
    border-radius: 4px
}


.about-backgraund {   
    background-color: var(--about-backgraund-color);
}


/* features */

.feature {
    display: block;
    margin-right: 30px;
}
        .feature:nth-child(4n) {
            margin-right: 0;
        }

.feature-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 270px;
    height: 120px;

    background-color: var(--backgraund-team-color);
    border-radius: 4px;
}

.features-item {
    background-color: var(--backgraund-team-color);
   }

.features {
    
    padding-bottom: 94px;
    padding-top: 94px;

    font-size: 14px;
    line-height: 1.7;
}

.feature-title {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;

    text-transform: uppercase;
    color: var(--text-color);
}

.feature-text {
margin-top: 0;
margin-bottom: 0;
}

.list .features-item+.features-item {
    margin-left: 30px;
}

/* work */

.project-container, .team-card, .list img {
    display: block;
    width: 100%;
    height: auto

}
.work {
    padding-bottom: 94px;
    padding-top:0;
}

.list .work-item+.work-item {
    margin-left: 30px;
}

.img-box {
position: relative;
}

.label {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;

        width: 100%;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;

        color: var(--background-color);
        background-color: var(--label-bg-collor);
}

/* team */
.team {
  background-color: var(--backgraund-team-color);
padding-bottom: 94px;
padding-top: 94px;
}

.list .team-card+.team-card {
    margin-left: 30px;
}
.team-card {  
    
        background-color: var(--background-color);
        box-shadow: 0px 1px 3px var(--box-shadow), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        margin-top: 0;
} 

.team-title-foto {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 10px;
        margin-top: 0;
        padding-top: 30px;
}

.team-text-foto {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--text-main-color);
    margin-bottom: 16px;
        margin-top: 0;
    }

.actions-team {

    display: flex;
    padding: 0 32px 30px;
    margin: 0;
}

.social-link-team {
    display: flex;
    padding: 0;
    border: none;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--actions-team-color);
    background-color: var(--background-color);
    align-items: center;
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.social-link-team:hover,
.social-link-team:focus
 {
    fill: var(--background-color);
    background-color: var(--link-color);
}

/* customers */

.customers {
    padding-top: 94px;
    padding-bottom: 94px;
}

.customers-title {
    margin-bottom: 50px;
    
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
        color: var(--text-color);
}

.customers-list {
display: flex;
    padding: 0 0;
    margin: 0;
    background-color: var(--background-color);
}

.client {
    margin-right: 30px;
}

.client:last-child {
    margin-right: 0;
}

.company-link {
display: flex;
    padding: 0;
    border: none;
    cursor: pointer;
    width: 170px;
    height: 92px;
    fill: var(--actions-team-color);
    background-color: var(--background-color);
    align-items: center;
    justify-content: center;
    border: 1px solid var(--actions-team-color);
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

            .company-link:hover,
            .company-link:focus {
                fill: var(--link-color);
                border-color: var(--link-color);
            }

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

/* Modal screen*/
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;

    min-width: 528px;
    min-height: 581px;

    background-color: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

.modal-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--background-color);
    fill: var(--studio-nav-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    .modal-button:hover,
    .modal-button:focus {
        fill: var(--link-color);
    }


.modal-title {
    display: flex;
        align-items: center;
        justify-content: center;

    margin: auto;
    margin-bottom: 12px;
    padding: 0;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: var(--text-color);
}

.form {
    width: 528px;
    height: 581px;

}

.form-field {
    display: flex;
    position: relative;
    flex-direction: column;

    text-align: left;
}

.form-comment {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;

}

.comment-area {
    padding: 6px 15px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
}

.form-field input {
    margin: 0;
    padding: 6px 35px;
    margin-bottom: 10px;

    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
}

        .form-field:focus-within > .modal-icon {
            fill: var(--link-color);
        }

                .form-field:focus-within > .form-input {
                    outline: 1px solid var(--link-color);
                }

                    .form-comment:focus-within > .comment-area {
                    outline: 1px solid var(--link-color);
                }

.form-field label {
    margin-bottom: 4px;
}

.form-field input::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.label-link {
    color: var(--link-color);
}

.modal-icon {
    position: absolute;
    left: 15px;
    top: 42px;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 10px 52px; */

    width: 200px;
    height: 50px;

    letter-spacing: 0.06em;

    color: var(--background-color);
    background-color: var(--main-button-color);
    border-radius: 4px;
    border: none;

    cursor: pointer;
}

.submit-button:hover,
.submit-button:focus {
    box-shadow: 0px 4px 4px var(--box-shadow-main-button);
    border-radius: 4px
}

.checkbox {
   /* Візуально приховуємо чекбокс */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.label-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    }

.icon {
    display: inline-block;
    margin-right: 10px;

        width: 15px;
        height: 15px;
        border: 2px solid var(--text-color);
        border-radius: 4px;
}

.checkbox:checked + .icon {
    background-color: var(--link-color);
    background-image: url('../images/check-mark.png');
    background-size: contain;
    background-origin: border-box;
    border-color: var(--link-color);

}

/* Portfolio */

.section {
    padding-bottom: 94px;
    padding-top: 94px;
}

/* pointers */
.is-hidden {
       position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

.filter-list {
    display: flex;
    justify-content: center;
    padding: 0;
}

.pointers {
    margin-top: 0;
    margin-bottom: 50px;
    }

.pointers button {

    padding: 6px 22px;
        
    background-color: var(--backgraund-team-color);
    font-weight: 500;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pointers button:hover,
.pointers button:focus {
    background-color: var(--link-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        color: var(--background-color);
}

.filter-list .filter-container {
margin-right: 8px;
}
            .filter-container:nth-child(5n) {
               margin-right: 0;
           }

/* projets */

.flex-container {
flex-wrap: wrap;
}

.project-container {

margin-right: 30px;
margin-bottom: 30px;

width: calc((100% - 60px) / 3);

box-sizing: border-box;
background: var(--background-color);
}
       
.project-container:nth-child(3n) {
    margin-right: 0;
}

.project-container:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.project-link {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

   .project-link:hover,
   .project-link:focus {
       box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
   }

.project-div-container {
    padding: 20px 24px;
    border-right: 1px solid var(--projet-border-color);
    border-left: 1px solid var(--projet-border-color);
    border-bottom: 1px solid var(--projet-border-color);

}

.section-projects-title {

    margin-bottom: 4px;
    margin-top: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--text-color);
}

.section-projects-text {

    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.9;

    color: var(--text-main-color);

}

.product-thumb {
    display: flex;
    position: relative;
    overflow: hidden;
}

.product-actions {
    display: flex;
    position: absolute;
    padding: 63px 24px;
    margin: 0;
    transform: translateY(100%);

    width: 100%;
    height: 100%;

    font-size: 18px;
    line-height: 1.56;
    color: var(--background-color);
    background-color: var(--product-actions-color);
    
        transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        /* Можна скорочено:
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
        .project-link:hover .product-actions {
                        transform: translateY(0);
            }

.product-actions-text {
    margin: 0;
}

/* footer */
.footer-portfolio {
    padding-bottom: 60px;
        padding-top: 60px;
        background: var(--footer-portfolio-color);
}

.webstudio-footer {

    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--link-color);

}

.footer {
    background-color: var(--footer-portfolio-color);
    padding-bottom: 60px;
    padding-top: 60px;
  }

.address {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}

.link-footer {
    padding: 0;
    margin: 0;
    list-style: none;
}

        .link-footer a {
            color: var(--link-footer-color);
            text-decoration: none;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
        }

            .link-footer a:hover,
            .link-footer a:focus {
                color: var(--background-color);
                            }

.address-link {
    margin-bottom: 9px;
}

        .address-link:nth-child(3n) {
            margin-bottom: 0;
        }


.flex-item {
display: block;
padding: 0;
}

.socials {
    display: block;
    margin-left: 70px;
    
}

.social-title {
    margin-bottom: 20px;    
    margin-top: 16px;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;

        text-transform: uppercase;
        color: var(--background-color);
     
}

.actions {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;    
    background-color: var(--social-actions-color);
 }

 .actions-retreat {
    margin-right: 10px;
}
        .actions-retreat:last-child {
            margin-right: 0;
        }

.social-link {
display: flex;
padding: 0;
border: none;
cursor: pointer;
width: 44px;
height: 44px;
border-radius: 50%;
fill: var(--background-color);
background-color: rgba(255, 255, 255, 0.1);
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
        .social-link:hover,
        .social-link:focus
        {
            background-color: var(--link-color);
            }

.subscription {
display: inline-block;
flex-direction: column;
margin-left: auto;
}

.subscription-text {
        font-weight: 700;
        text-transform: uppercase;
        color: var(--background-color);

    margin: 0;
    margin-bottom: 20px;
    padding: 0;

    color: var(--background-color);
}

.subscription-field {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.subscription input {
    margin: 0;
    padding: 15px 16px;

    height: 50px;
    width: 358px;
    font-size: 16px;

    color: var(--background-color);
    background-color: var(--social-actions-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.subscription-button {
    display: flex;
    position: relative;
    margin-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;

        width: 200px;
        height: 50px;

        font-weight: 700;
        font-size: 16px;
        line-height: 1.88px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--background-color);
        background-color: var(--link-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            border: none;
            cursor: pointer;
}

.subscription-button::after {
    display: flex;
    content: "";
    margin-left: 10px;
   }

.subscription-icon {
fill: var(--background-color);
margin-left: 10px;
}

